.footer {
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px 0;
    font-size: 14px;
    color: #333;
    border-top: 2px solid #ddd;
    position: relative;
    width: 100%;
  }